.way {
    margin-top: 100px;
    margin-left: 135px;
    color: black;
}
.item_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
}
.title_card {
    text-align: center;
}
.main_h1 {
    width: 75%;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    color: #020202;
    padding: 0 20px 10px 20px;
    border-bottom: 3px solid black;
    margin-top: 30px;
    font-size: 40px;
}
.bigos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.column1 {
    margin-top: -1000px;
}
.product-gallery {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 650px;
}
.thumbnails {
    flex: 0 0 150px;
    margin: 0px;
    padding: 0;
}
.main-image {
    flex: 1;
    margin-left: 10px;
    width: 500px;
    height: auto;
}
.thumbnail.active {
    border: 2px solid black;
    border-radius: 5px;
}
.thumbnail {
    width: 160px;
    height: auto;
    cursor: pointer;
}
.main-image {
    flex: 1;
    margin-left: 10px;
    width: 500px;
    height: auto;
}
.image {
    width: 100%;
}
.column2 {
    width: 500px;
    white-space: pre-line;
    margin-top: 0px;
    margin-left: 35px;
}
.description {
    margin-top: -25px;
    height: auto;
    margin: 11px;
    margin-left: 15px;
}
.gray {
    width: 500px;
    height: 1px;
    background: grey;
}
.price {
    width: 500px;
    margin-top: 50px;
    margin-left: 15px;
}
.grey {
    width: 500px;
    height: 1px;
    background: grey;
    margin-top: 50px;
}
.cpt-price{
    margin-bottom: 30px;
}
.size-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    width: 60%;
    grid-gap: 4px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
}
.size-button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}
.slestveniy_izolyator{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
}
.greyy {
    width: 500px;
    height: 1px;
    background: grey;
    margin-bottom: 50px;
}
.end {
    width: 500px;
    display: flex;
}
.counter {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 110px;
}
.neww {
    display: flex;
}

element.style {
}
.increment-btn, .decrement-btn, .reset {
    height: 50px;
    width: 120px;
    padding: 0 40px;
    border-radius: 10px;
    font-size: 40px;
    background-color: #000000;
    border: 2px solid #000000;
    color: white;
    margin: 20px;
}
.counter-value {
    height: 50px;
    min-width: 120px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.increment-btn, .decrement-btn, .reset {
    height: 50px;
    width: 120px;
    padding: 0 40px;
    border-radius: 10px;
    font-size: 40px;
    background-color: #000000;
    border: 2px solid #000000;
    color: white;
    margin: 20px;
}
.bttn {
    background: black;
    width: 300px;
    padding: 5px;
    height: 75px;
    color: white;
}
.main_new {
    width: 100%;
    text-align: center;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
.main_cont_kross {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.main_kross {
    background: white;
    width: 360px;
    margin: 10px;
    border-radius: 8px;
}
.div_4, .div_5, .div_6{
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.main_img {
    border-radius: 8px;
    width: 360px;
    height: 180px;
    background-position: center center;
    object-fit: cover;
    transition: 0.9s;
}
.div_4:after, .div_5:after, .div_6:after{
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.div_6:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url(https://static1.s123-cdn-static-a.com/uploads/6954727/2000_63772b31d745e.jpg);
    background-size: 360px;
}
.kross_box {
    padding: 13px;
    width: 293px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 8px;
}
.div_4:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url(https://static1.s123-cdn-static-a.com/uploads/6954727/2000_6435a38e31175.jpg);
    background-size: 360px;
}
.div_5:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url(https://static1.s123-cdn-static-a.com/uploads/6954727/2000_63b93cf20d745.jpg);
    background-size: 360px;
}
.div_6:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url(https://static1.s123-cdn-static-a.com/uploads/6954727/2000_63772b31d745e.jpg);
    background-size: 360px;
}
@media screen and (max-width: 550px) {
    .way {
        margin-top: 100px;
        margin-left: 15px;
        color: black;
    }
    .kross_box {
        height: 80px;
        margin: 0 auto;
        width: 90%;
        padding: 0px;
        margin-left: 10px;
    }
    .main_img {
        width: 100%;
        height: 110px;
    }
    .box_select_firma{
        width: 150px !important;
        margin: 5px;
    }
    .bigos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-left: 10%;
    }
    .main-image{
        width: auto;
    }
    .image{
        width: 300px;
        height: 184px;
        margin-top: 320px;
    }
    .description{
        width: 40%;
    }
    .column2{
        width: 90%;
    }
    .gray, .grey, .greyy{
        width: 80%;
    }
    .price{
        width: 80%;
    }
    .end{
        width: 100%;
    }
    .counter {
        width: 50%;
        margin-left: 0;
        flex-wrap: wrap;
    }
    .decrement-btn, .increment-btn {
        text-align: center;
        height: 50px;
        width: 50px;
        padding: 25px;
        font-size: 20px;
    }
    .counter-value {
        height: 40px;
        width: 20px;
        padding: 0;
    }
    .main_cont_kross{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .main_kross {
        width: 220px !important;
        height: 220px;
        margin: 0 auto;
        width: 100%;
        padding: 0px;
        margin-bottom: 50px;
    }
    .kross_box {
        width: 80% !important;
        height: 80px;
        margin: 0 auto;
        width: 90%;
        padding: 0px;
        margin-left: 10px;
    }
}